<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Bloowatch | Try it for FREE</title>

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>

	<!-- CSS Files -->
	<link href="{{ url_for('static', filename='css/grid12.css') }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='css/typography.css') }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/alerts.css') }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='css/opencoast-colors.css') }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='css/material-design-iconic-font.css') }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='css/respons.css') }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet" media="screen">

	<!-- Owl - Carousel -->
	<link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='css/owl.theme.css') }}" rel="stylesheet" media="screen">
	<link href="{{ url_for('static', filename='css/owl.transitions.css') }}" rel="stylesheet" media="screen">

	<!-- Modernizer -->
	<script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>

    <!-- Used to create Ajax requests -->
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <!-- Google Analytics --->
	<script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69339512-1', 'auto');
        ga('send', 'pageview');

	</script>
  </head>
 <body>
	<div id="preloader_container">


		<!-- PRELOADER -->
		<header class="preloader_header">
			<div class="preloader_loader">
				<svg class="preloader_inner" width="60px" height="60px" viewBox="0 0 80 80">
					<path class="preloader_loader_circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"></path>
					<path id="preloader_loader_circle" class="preloader_loader_circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z" style="stroke-dashoffset: 0px; stroke-dasharray: 192.6180419921875px;"></path>
				</svg>
			</div>
		</header>
		<!-- END OF PRELOADER -->

		<!-- HERO -->
		<section class="hero_fullscreen background_solid">

			<!-- TOP NAVIGATION -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 other">
<!-- 						<a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a> -->
					</div>
				</div>
			</div>
			<!-- END OF TOP NAVIGATION -->

			<!-- HERO IMAGE -->
			<div class="container align-center" id="main_content">
				<div class="content_container row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 home_content">
						<div>
							<img src="{{ url_for('static', filename='img/logo22.png') }}" style="width:30%; height:30%" class="img_responsive">
						</div>
                        <h6 class="subline">The back-office solution for water sports.</h6>

						<div class="home_devices">
							<img src="{{ url_for('static', filename='img/macbook.png') }}" alt="" class="img_responsive home_macbook">
							<img src="{{ url_for('static', filename='img/iphone.png') }}" alt="" class="img_responsive home_iphone">
						</div>

					</div>
				</div>
			</div>
			<!-- END OF HERO IMAGE -->

		</section>
		<!-- END OF HERO -->

        <!-- MORE_INFOS -->
		<section id="more_info" class="subsection lighter_bg align-center">
			<div class="container">
				<div class="row">

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox content_anim1">
                            <img src="{{ url_for('static', filename='img/agenda_icon.svg') }}" alt="" class="img_responsive">
							<div class="iconbox_content">
								<h5>Planning</h5>
								<p>Support the planning management based on the company requirements and the context and weather conditions.</p>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox content_anim2">
							<img src="{{ url_for('static', filename='img/chat_icon.svg') }}" alt="" class="img_responsive">
							<div class="iconbox_content">
								<h5>Communication</h5>
								<p>Connect effectively with the staff and customers at the right time through the appropriate channel.</p>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<div class="iconbox content_anim3">
							<img src="{{ url_for('static', filename='img/coupon_icon.svg') }}" alt="" class="img_responsive">
							<div class="iconbox_content">
								<h5>Marketing & Sales</h5>
								<p>Boost the online marketing activities of the company towards higher loyalty and new bookings.</p>
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3 class="newsletter_title">FIND MORE DETAIL ABOUT THE BLOOWATCH SOLUTION</h3>
						<div class="subscribe content_anim4">
							<form role="form" action="" method="post">
								<div class="input-group">
									<input type="email" name="email" class="newsletter-email form-control" placeholder="ENTER EMAIL ADDRESS">
										<span class="input-group-btn">
											<button type="submit"  class="btn btn-green waves-effect waves-light newsletter-submit">Get More Info</button>
										</span>
								</div>
                                {% with success = get_flashed_messages(category_filter=["success"]) %}
                                    {% if success %}
                                    <div class="success">
                                      <ul>
                                        {%- for msg in success %}
                                        <li><strong>Success!</strong>{{ msg }}</li>
                                        {% endfor -%}
                                      </ul>
                                    </div>
                                    {% endif %}
                                {% endwith %}
                                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                                    {% if errors %}
                                    <div class="error">
                                      <ul>
                                        {%- for msg in errors %}
                                        <li><strong>Error!</strong> {{ msg }}</li>
                                        {% endfor -%}
                                      </ul>
                                    </div>
                                    {% endif %}
                                {% endwith %}
							</form>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- END OF MORE_INFOS -->

        <!-- FEATURES -->
		<section class="subsection" id="features">
			<div class="container">

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 content_anim5">
						<h3>Our Free Mobile App Available Very Soon!</h3>
						<p>At Bloowatch we work hard to build the best possible solution for the specific needs of the watersports activity providers. Please register and we will let you know when our free mobile apps are ready.</p>
						<a href="" id="appstore_badge" class="content_anim6"></a>
						<a href="" id="android_badge" class="content_anim7"></a>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 align-center content_anim8">
						<video class="img_responsive" controls>
							<source src="https://dl.dropboxusercontent.com/u/16504598/movie.mp4" preload type="video/mp4">
							Your browser does not support the video tag.
						</video>
						<!--<img src="assets/img/video-th.jpg" alt="" class="img_responsive">-->
					</div>
				</div>

			</div>
		</section>
		<!-- END OF FEATURES -->

        <!-- PLAN OFFERS -->
		<section id="offers" class="subsection lighter_bg">
			<div class="container">
                <!--
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
						<div class="intro content_anim9">
							<h3 class="offers_title">SELECT A PLAN</h3>
							<p class="offers_desc">Please have a look a the different options starting with the Assistant information to complement with the Professional features and/or the <strong>HighGrowth</strong> capabilities.</p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
						<div class="switches content_anim10">
							<div class="toggle-switch" data-ts-color="sunny">
								<label for="ts2" class="ts-label">MONTH</label>
								<input id="ts2" type="checkbox" hidden="hidden">
								<label for="ts2" class="ts-helper"></label>
								<label for="ts2" class="ts-label">YEAR</label>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div id="plan_A" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 align-center plan_box content_anim10">
						<h4>COACH</h4>
						<h6 class="price">€119/<span>Month</span></h6>
						<button class="btn btn-grey">YOUR PLAN</button>
						<ul class="">
							<li><strong>Personalized</strong> recommendations</li>
							<li><strong>Brieffing & after session</strong> cards</li>
							<li><strong>Connecting</strong> the community</li>
						</ul>
						<label class="checkbox checkbox-inline">
							<input type="checkbox" value="option1" checked>
							<i class="input-helper"></i>selected
						</label>
					</div>

					<div class="addPlus content_anim11"><i class="md-add-circle-outline md-2x sunlight"></i></div>

					<div id="plan_B" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 align-center plan_box content_anim11">
						<h4>MANAGER</h4>
						<h6 class="price">+€89/<span>Month</span></h6>
						<button class="btn" style="background-color: #3590CC;">UPGRADE</button>
						<ul class="">
							<li><strong>Planning </strong> logic</li>
							<li><strong>Automatic </strong> notifications</li>
							<li><strong>eCommerce</strong> Mobile</li>
						</ul>
						<label class="checkbox checkbox-inline sunlight">
							<input type="checkbox" value="option2">
							<i class="input-helper"></i>add this plan
						</label>
					</div>

					<div class="addPlus content_anim12"><i class="md-add-circle-outline md-2x bluelight"></i></div>

					<div id="plan_C" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 align-center plan_box content_anim12">
						<h4>MARKETING</h4>
						<h6 class="price">+€89/<span>Month</span></h6>
						<button class="btn" style="background-color: #0F71B8;">UPGRADE</button>
						<ul class="">
							<li><strong>Personalized</strong> recommendations</li>
							<li><strong>Brieffing & after session</strong> cards</li>
							<li><strong>Connecting</strong> the community</li>
						</ul>

						<label class="checkbox checkbox-inline bluelight">
							<input type="checkbox" value="option3">
							<i class="input-helper"></i>add this plan
						</label>
					</div>
				</div>
                -->
				<div class="row double">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-center">
						<div class="intro content_anim13">
							<h3 class="uppertxt">PACKED WITH <span class="sunlight">SPECIALIZED</span> FEATURES</h3>
							<!--<p class="offers_desc">We strive to offer you the most important features to help you grow your business as fast as possible, leveraging you from all the dull work that you do not like.</p>-->
						</div>
					</div>
				</div>

				<div class="row double">
					<!-- FEAT 1 -->
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 align-center">
						<div class="iconbox content_anim14">
                            <img src="{{ url_for('static', filename='img/crm_icon@34.svg') }}" alt="" class="img_responsive">
							<div class="iconbox_content">
								<h5>CRM</h5>
								<p>Organize your client to have direct access to profile details, history, contacts and statistics.</p>
							</div>
						</div>
					</div>

					<!-- FEAT 2 -->
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 align-center">
						<div class="iconbox content_anim15">
							<img src="{{ url_for('static', filename='img/agenda_icon@34.svg') }}" alt="" class="img_responsive">
							<div class="iconbox_content">
								<h5>AGENDA</h5>
								<p>Direct view on booked lessons, rental sessions, weather windows and other events.</p>
							</div>
						</div>
					</div>

					<!-- FEAT 3 -->
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 align-center">
						<div class="iconbox content_anim16">
							<img src="{{ url_for('static', filename='img/multidevice_icon@34.svg') }}" alt="" class="img_responsive">
							<div class="iconbox_content">
								<h5>MULTI CHANNEL</h5>
								<p>Interact with your customers and staff all along their digital journey, being through the mobile and web app, social media or emails.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="row double">
					<!-- FEAT 4 -->
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 align-center">
						<div class="iconbox content_anim17">
							<img src="{{ url_for('static', filename='img/market_icon@34.svg') }}" alt="" class="img_responsive">
							<div class="iconbox_content">
								<h5>BOOKINGS</h5>
								<p>Deliver personalized recommendations to better inform your clients and ease the registration with the online mobile and web booking.</p>
							</div>
						</div>
					</div>

					<!-- FEAT 5 -->
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 align-center">
						<div class="iconbox content_anim18">
							<img src="{{ url_for('static', filename='img/community_icon@34.svg') }}" alt="" class="img_responsive">
							<div class="iconbox_content">
								<h5>COMMUNITY</h5>
								<p>Create a vibrant community around your business to foster customer's loyalty and attract new clients.</p>
							</div>
						</div>
					</div>

					<!-- FEAT 6 -->
					<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 align-center">
						<div class="iconbox content_anim19">
							<img src="{{ url_for('static', filename='img/content_icon@34.svg') }}" alt="" class="img_responsive">
							<div class="iconbox_content">
								<h5>CONTENTS</h5>
								<p>Share high quality specialized contents such as photos, weather forecast and activity maps, or unique texts and comments.</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!-- END OF PLAN OFFERS -->

        <!-- FOOTER -->
		<section id="footer" class="subsection">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 other">
						<p class="inner">

                                <a href="https://twitter.com/bloowatch">
                                    <img src="{{ url_for('static', filename='img/twitter.png') }}" alt="">
                                </a>|

                                <a href="https://twitter.com/bloowatch">
                                    <img src="{{ url_for('static', filename='img/facebook.png') }}" alt="">
                                </a>


                                |
                                <!--<a href="">Press</a>|-->
                                <a href="mailto:info@bloowatch.com">
                                    <img src="{{ url_for('static', filename='img/mail.png') }}" alt="">
                                </a>


							<!--<a href="">Support</a>|
							<a href="">Privacy Policy</a>-->
						</p>

						<p class="float-right inner visible-lg visible-md">
                            <a href="skype:oduperray?userinfo">
                                <img src="{{ url_for('static', filename='img/skype-with-circle.png') }}" alt="">
					        </a>
                            Call us&nbsp;<strong>+34.681.211.532</strong></p>
					</div>
				</div>
			</div>
		</section>
		<!-- END OF FOOTER -->


	</div>
    <!-- END OF PRELOADER -->

    <!-- Click analytics -->
    <a title="Real Time Analytics" href="http://clicky.com/100889619"><img alt="Real Time Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
	<script src="//static.getclicky.com/js" type="text/javascript"></script>
	<script type="text/javascript">try{ clicky.init(100889619); }catch(e){}</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100889619ns.gif" /></p></noscript>

	<!-- JAVASCRIPT PLUGINS COMES HERE -->
	<script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.cycle.all.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
	<script src="{{ url_for('static', filename='js/classie.js') }}"></script>
	<script src="{{ url_for('static', filename='js/pathLoader.js') }}"></script>
	<script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
	<script src="{{ url_for('static', filename='js/retina.js') }}"></script>
	<script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
</html>